nav {
    background: lightblue;
}

.mainNavWrapper {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1440px;
    padding: 10px 16px;
}

.mainNavWrapper ul {
    align-items: center;
    display: flex;
}

.mainBtn {
    background: #7847F8;
    border-radius: 4px;
    color: #fff;
    padding: 10px 16px;
}
