nav {
    background: lightblue;
}

.mainNavWrapper {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 8px 16px;
}

.mainNavWrapper ul {
    align-items: center;
    display: flex;
}

.mainNavWrapper a {
    color: #fff;
}

.mainBtn {
    background: #7847F8;
    border-radius: 4px;
    color: #fff;
    margin-left: 16px;
    padding: 10px 16px;
    transition: all 200ms;
}

.mainBtn:hover {
    background: #5E32DE;
}
