.hamburger-menu {
    align-items: center;
    /* background: teal; */
    cursor: pointer;
    display: flex;
    flex-direction: column;
    height: 26px;
    justify-content: space-between;
    position: fixed;
    right: 16px;
    top: 15px;
    width: 32px;
    z-index: 14;
}

.hamburger-line {
    background: #fff;
    height: 3px;
    transition: all 250ms;
    width: 100%;
}

.hamburger-top-open {
    transform: translateX(11px) rotate(45deg) translateY(16px);
}

.hamburger-middle-open {
    width: 0%;
}

.hamburger-bottom-open {
    transform: translateX(11px) rotate(-45deg) translateY(-16px);
}

.mobile-nav {
    background: yellow;
    height: 100%;
    position: fixed;
    right: 0;
    transform: translateX(100%);
    transition: all 250ms;
    width: 75%;
    z-index: 12;
}

/* --- Media queries below --- */

/* @media screen and (max-width: 720px) {
    .boardNavSecondary {
        overflow-x: scroll;
        overflow-y: hidden;
    }

    .logoutBtn {
        display: none;
    }
} */
