.hamburger-menu {
    align-items: center;
    /* background: teal; */
    cursor: pointer;
    display: none;
    flex-direction: column;
    height: 26px;
    justify-content: space-between;
    position: fixed;
    right: 16px;
    top: 15px;
    width: 32px;
    z-index: 14;
}

.hamburger-line {
    background: #fff;
    height: 3px;
    transition: all 250ms;
    width: 100%;
}

.hamburger-top-open {
    transform: translateX(11px) rotate(45deg) translateY(16px);
}

.hamburger-middle-open {
    width: 0%;
}

.hamburger-bottom-open {
    transform: translateX(11px) rotate(-45deg) translateY(-16px);
}

.mobile-nav {
    background: #5A30D4;
    height: 100%;
    padding: 120px 32px;
    position: fixed;
    right: 0;
    transform: translateX(100%);
    transition: transform 250ms;
    visibility: hidden;
    width: 75%;
    z-index: 12;
}

.mobile-nav li {
    margin-bottom: 20px;
}

.mobile-nav a {
    color: white;
    font-weight: bold;
    font-size: 48px;
}

.mobile-nav-open {
    transform: translateX(0%);
}

.mobile-nav-transparent-bg {
    background: rgba(0, 0, 0, 0.5);
    height: 100%;
    opacity: 0;
    position: fixed;
    transition: all 300ms;
    visibility: hidden;
    width: 100%;
    z-index: 11;
}

.mobile-nav-transparent-bg-active {
    opacity: 1;
    visibility: visible;
}

/* --- Media queries below --- */

@media screen and (max-width: 720px) {
    .hamburger-menu {
        display: flex;
    }

    .mobile-nav {
        visibility: visible;
    }
}
