.AddCardBtn {
    align-items: center;
    border-radius: 4px;
    color: #A1A19D;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    padding: 8px;
}

.AddCardBtn > div {
    align-items: center;
    display: flex;
}

.AddCardBtn > div i {
    margin-right: 8px;
}

.AddCardBtn:hover {
    background: #303031;
    color: #fff;
    cursor: pointer;
}
