.boardNavPrimary, .boardNavSecondary {
    background: #5A30D4;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}

.boardNavSecondary {
    background: none;
    top: 55px;
}

.navLogo {
    margin-right: 46px;
}

.mainNavWrapper {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 8px 16px;
}

.mainNavWrapper ul {
    align-items: center;
    display: flex;
}

.mainNavWrapper a {
    color: #000;
}

.mainBtn {
    background: #fff;
    border-radius: 4px;
    color: #000;
    margin-left: 4px;
    padding: 10px 16px;
    transition: all 200ms;
}

.mainBtn:hover {
    background: #000;
    color: #fff;
    cursor: pointer;
}

/* board modal */
.boardModalBg {
    background: turquoise;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 20;
}

/* secondary board nav */
.secondaryBtn {
    background: chartreuse;
    margin-left: 4px;
}

.secondaryBtn:first-child {
    background: coral;
    margin-left: 0;
}

/* board canvas */
.boardCanvas {
    display: flex;
    gap: 10px;
    height: 100vh;
    overflow-x: scroll;
    padding: 100px 0 32px 16px;
}

.listWrapper {
    background: #3D3D40;
    border-radius: 4px;
    color: #fff;
    max-height: 100%;
    padding: 10px;
    overflow-y: scroll;
    width: 272px;
}
