.boardNavPrimary, .boardNavSecondary {
    background: #5A30D4;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}

.boardNavSecondary {
    background: none;
    top: 55px;
}

.navLogo {
    margin-right: 46px;
}

.mainNavWrapper {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 8px 16px;
}

.mainNavWrapper ul {
    align-items: center;
    display: flex;
}

.mainNavWrapper a {
    color: #000;
}

.mainBtn, .secondaryBtn {
    background: #fff;
    border-radius: 4px;
    color: #000;
    margin-left: 4px;
    padding: 10px 16px;
    transition: all 200ms;
}

.mainBtn:hover {
    background: #000;
    color: #fff;
    cursor: pointer;
}

.logoutBtn {
    color: #fff;
}

.logoutBtn:hover {
    cursor: pointer;
}

/* board modal */
.boardModalBg {
    background: turquoise;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 20;
}

/* secondary board nav */
.secondaryBtn {
    background: #3D3D40;
    color: #fff;
    margin-left: 4px;
}

.secondaryBtn:hover {
    background: #fff;
    color: #000;
    cursor: pointer;
}

.secondaryBtn:first-child {
    margin-left: 0;
}

/* board canvas */
.boardCanvas {
    display: flex;
    gap: 10px;
    height: 100vh;
    overflow-x: scroll;
    padding: 110px 16px 32px;
}

.listWrapper {
    background: #3D3D40;
    border-radius: 4px;
    color: #fff;
    display: flex;
    flex-direction: column;
    height: fit-content;
    justify-content: space-between;
    max-height: 100%;
    min-width: 272px;
    padding: 10px 8px;
    width: 272px;
}

.listHeader {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 6px;
    padding: 4px;
}

.listHeader > p {
    font-weight: 500;
}

.listHeader > div {
    position: relative;
}

/* list menus */
.listMenuBtn {
    transition: all 200ms;
}

.listMenuBtn:hover {
    cursor: pointer;
    transform: scale(1.1);
}

/* board canvas modals */
.listMenuModalBg {
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 12;
}

.listMenuWrapper {
    background: black;
    border-radius: 4px;
    overflow: hidden;
    position: absolute;
    right: -8px;
    top: -8px;
    z-index: 13;
}

/* cards styling */
.cardsComponentWrapper {
    max-height: 100%;
    overflow-y: scroll;
}
