.dashboardWrapper {
    background: #101011;
    padding: 174px 16px;
}

.dashboardWrapper p, .dashboardWrapper {
    color: #fff;
}

.dashboardWrapper > div {
    margin: 0 auto;
    max-width: 1162px;
}

.dashboardHeader {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;
}

.dashboardWrapper h2 {
    font-size: 48px;
    font-weight: 400;
}

.cardWrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.boardCard {
    height: 221px;
    max-width: 376px;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.boardBg {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    position: absolute;
    transition: all 250ms;
    width: 100%;
}

.boardCard:hover .boardBg {
    transform: scale(1.1);
}

.cardOverlay {
    background: linear-gradient(147.54deg, #000000 15.19%, rgba(0, 0, 0, 0) 45.61%);
    height: 100%;
    position: absolute;
    width: 100%;
}

.boardTitle {
    font-size: 24px;
    left: 16px;
    position: absolute;
    top: 16px;
}

.boardLink {
    height: 100%;
    position: absolute;
    width: 100%;
}

/* board menu */
.boardMenuBtn {
    opacity: 0;
    padding: 10px;
    position: absolute;
    right: 8px;
    top: 12px;
    transition: all 200ms;
}

.boardCard:hover .boardMenuBtn {
    opacity: 1;
}

.boardMenuBtn:hover {
    cursor: pointer;
    transform: scale(1.2);
}

.boardMenuModalBg {
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 12;
}

.boardMenuWrapper {
    background: #3d3d40;
    border-radius: 4px;
    padding: 16px;
    position: absolute;
    right: 6px;
    top: 6px;
    z-index: 13;
}
