#main-modal {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 21;
}

#main-modal-background {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 20;
    height: 100%;
    width: 100%;
}

#main-modal-content {
    position: absolute;
    background: #18181B;
    border-radius: 4px;
    max-width: 325px;
    width: 100%;
    z-index: 21;
}
