
.editCardForm, .editCardDescriptionForm {
    width: 95%;
}

.inputWrapper input, .inputWrapper textarea {
    background: #000;
    border: 1px solid #9150FB;
    border-radius: 4px;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    outline: none;
    padding: 4px;
    transition: all 200ms;
    width: 100%;
}

.inputWrapper textarea {
    font-size: 16px;
    font-weight: 400;
    height: 48px;
    max-height: 150px;
    min-height: 48px;
    max-width: 100%;
    min-width: 100%;
    width: 100%;
}

.btnWrapper {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.mainBtn {
    background: #fff;
    border: none;
    border-radius: 4px;
    color: #000;
    padding: 8px 14px;
    transition: all 200ms;
}

.mainBtn:hover {
    background: #000;
    color: #fff;
    cursor: pointer;
}

.closeBtn i {
    transition: all 200ms;
}

.closeBtn i:hover {
    cursor: pointer;
    transform: scale(1.2);
}

.formErrors div {
    color: #E71E23;
    margin-bottom: 10px;
    padding-left: 5px;
}
